//variables

//Fuentes
$tipoFuente: 'Roboto', sans-serif;
$tipoFuente2: 'Great Vibes', cursive;

//Colores de 
$colorFondoHeader:#A3E4D7; 
$colorFondoFooter:whitesmoke;

//Paleta de colores de fondo
$colorFondo1:rgb(255, 159, 49);
$colorFondo2:rgba(255, 255, 255, 0.712);
$colorFondo3:rgb(83, 157, 222);
$colorFondo4:rgb(240, 168, 60);
$colorFondo5:rgb(69, 154, 69);
$colorFondo6:rgb(254, 246, 246);
$colorFondo7:rgb(255, 236, 169);
$colorFondo8:whitesmoke;
$colorFondo9:#353d45;
$colorFondo10:rgba(255, 255, 255, 0.329);
$colorFondo11:white;
$colorFondo12: #777c818b;

//otros colores
$colorMarcoImg: whitesmoke;
$colorShadow:rgb(51, 51, 51);
$colorBorde:white;

//paleta de colores Fuente tipo-lista
$colorFuente:
 rgb(69, 69, 224),
  darkblue,
   rgba(24, 23, 22, 0.904),
     #1C2833,
      #1c2833d8,
      //break 5
       #1c2833be,
         whitesmoke,
           rgb(241, 208, 208),
             rgb(83, 157, 222),
               #c62820,
               //break 10
                  #353d45,
                   rgb(240, 168, 60),
                    white;

                              